<div class="contenedor-clima">
    <h2 class="text-center" style="color: #368986;">
        Informacion en tiempo real sobre las condiciones atmosféricas en México
    </h2>

    <div *ngIf="datos && datos.length">
        <table class="table">
            <thead class="encabezado-tabla">
                <tr>
                    <th scope="col" class="text-center">Nombre</th>
                    <th scope="col" class="text-center">Humedad Relativa</th>
                    <th scope="col" class="text-center">Dirección del Viento</th>
                    <th scope="col" class="text-center">Probabilidad de Precipitación</th>
                    <th scope="col" class="text-center">Temperatura (°C)</th>
                    <th scope="col" class="text-center">Latitud</th>
                    <th scope="col" class="text-center">Descripción del Cielo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dato of datos">
                    <td class="text-center">{{ dato.name }}</td>
                    <td class="text-center">{{ dato.relativehumidity }}</td>
                    <td class="text-center">{{ dato.winddirectioncardinal }}</td>
                    <td class="text-center">{{ dato.probabilityofprecip }}</td>
                    <td class="text-center" [ngClass]="{ temperatura: dato.tempc > '30' }">
                        {{ dato.tempc }}
                    </td>
                    <td class="text-center">{{ dato.latitude }}</td>
                    <td class="text-center">
                        {{ dato.skydescriptionlong }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
