<form #userForm>
  <div class="form-group">
    <label for="exampleInputEmail1">Nombre del Encargado: </label>
    <input type="text" class="form-control" id="nombreEncargado" name="nombre" aria-describedby="emailHelp" placeholder="Nombre">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Numero de Pasajeros</label>
    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="pasajeros">
  </div>
  <div class="form-group">
      <label for="exampleInputPassword1">Numero de contacto</label>
      <input type="number" class="form-control" id="exampleInputPassword1" placeholder="numero de emergencia">
  </div>
  <button type="submit" class="btn btn-primary" (click)="confirmar()">Confirmar</button>
</form>

