.container {
    min-height: calc(86vh - 70px);
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
}

.top {
    background-color: #002930;
}

.buscador {
    background-color: #368986;
}

.top,
.buscador {
    color: white;
    border-radius: 5px;
}

.col-8 {
    margin: 35px;
}
