<p>Bienvenidos a Taco, una aerolínea privada de confianza con más de 20 años de experiencia en el mercado de la aviación. Estamos orgullosos de ofrecer servicios de primera clase para satisfacer las necesidades de nuestros clientes más exigentes.

    En Taco, nuestra misión es proporcionar un servicio seguro, eficiente y cómodo para nuestros pasajeros. Contamos con una flota moderna y bien mantenida de aviones, y nuestro equipo de pilotos y tripulación está altamente capacitado y comprometido con la seguridad y la satisfacción del cliente.
    
    Además de nuestro compromiso con la seguridad y el servicio al cliente, en Taco también valoramos la sostenibilidad y el impacto ambiental. Por eso, hemos implementado prácticas de gestión ambiental responsables en toda nuestra operación, desde la reducción de emisiones de carbono hasta la gestión responsable de residuos.
    
    </p>
    <div><p>ESTO ES UN PROYECTO ESCOLAR. SALUDOS A LA MAESTRA :D</p>
        <pre>equipo conformado por: Flores García María Montserrat 
            Guerrero Carrera Javier	
            Jimenes Cortés Luis Octavio 
            Martínez Dávila Fatima del Rocío	 
            Hernandez Muñóz Libeth Xitlali
            </pre>
    </div>