<input #msg class="form-control" (keyup.enter)="ver(msg.value)" type="text">
<ng-container *ngIf="index !== -1 else noexiste">
    <div class="card p-3 mt-2">
        <div class="card-block">
            <div class="card-body">
                <p>Descripcion: {{datos.descripcion}}
            </div>
            <video width="600px" height="550px" autoplay loop>
                <source [src]="datos.img" type="video/mp4">
              </video>
        </div>
    </div>
</ng-container>

<ng-template #noexiste>
    <p>{{mensaje}}</p>

</ng-template>
